body
    margin: 0
    font-family: 'Roboto', sans-serif
    background-color: #E6ECF8
    header
        .banner
            background-image: url("../../public/images/banner.jpg")
            background-position: center
            height: 50vh
            background-size: cover
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            h1
                font-family: 'Pacifico', cursive
                font-size: 46px
                font-weight: normal
                color: white
                margin-bottom: 10px
                margin-top: 0
            .line
                height: 1px
                width: 30%
                background-color: white
                margin-bottom: 30px
            span
                text-transform: uppercase
                color: white
                font-size: 12px
                font-weight: lighter
                letter-spacing: 2px
                a
                    color: white
                    text-decoration: underline dotted
    .sect1
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        background-color: white
        margin: 50px 150px
        padding: 100px 350px
        .sect1-icon
            padding-bottom: 20px

        .sect1-icon i
            border: #383838 2px solid !important
            padding: 18px
            padding-top: 22px
            border-radius: 50%
            font-size: 20px
            text-align: center
            align-items: center
            color: #383838
        .sect1-h2 
            margin: 0
            padding: 0
            h2
                color: #383838
                text-transform: uppercase
                letter-spacing: 2px
                font-weight: lighter
        .sect1-text
            margin: 0
            padding: 0
            padding-bottom: 20px
            p
                text-align: center
                font-size: 12px
                line-height: 2
                color: #383838
                font-weight: lighter
        .sect1-btn
            margin: 0
            padding: 0
            button
                background-color: white
                box-shadow: none
                border: #383838 2px solid
                padding: 15px 50px
                border-radius: 5px
                a
                    text-transform: uppercase
                    text-decoration: none 
                    color: #383838
                    letter-spacing: 4px 
                    font-size: 12px
    .sect2
        margin: 50px 140px
        margin-bottom: 0px
        .sect2-row1
            display: flex
            background-color: #E6ECF8
            .sect2-col-6
                display: flex
                flex-direction: column
                flex: 1
                .container
                    background-color: white
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    margin: 10px
                    .banner1
                        display: flex
                        align-items: center
                        justify-content: center
                        background-image: url("../../public/images/pic01.jpg")
                        background-color: #72727288
                        background-blend-mode: multiply
                        background-size: cover
                        width: 100%
                        height: 200px
                        h3
                            color: white
                            text-transform: uppercase
                            font-weight: lighter
                            letter-spacing: 5px
                    .text
                        padding: 20px 50px
                        p
                            text-align: center
                            font-size: 12px
                            line-height: 2
                            font-weight: normal
                            color: #383838
                    .button
                        padding-bottom: 40px
                        button
                            padding: 10px 20px
                            background-color: white
                            border: #383838 solid 2px
                            border-radius: 5px
                            a
                                text-transform: uppercase
                                text-decoration: none
                                color: #383838
                                font-weight: lighter
                                font-size: 12px
                                letter-spacing: 2px
                    .banner2
                        display: flex
                        align-items: center
                        justify-content: center
                        background-image: url("../../public/images/pic02.jpg")
                        background-color: #72727288
                        background-blend-mode: multiply
                        background-size: cover
                        width: 100%
                        height: 200px
                        h3
                            color: white
                            text-transform: uppercase
                            font-weight: lighter
                            letter-spacing: 5px
                    .banner3
                        display: flex
                        align-items: center
                        justify-content: center
                        background-image: url("../../public/images/pic03.jpg")
                        background-color: #72727288
                        background-blend-mode: multiply
                        background-size: cover
                        width: 100%
                        height: 200px
                        h3
                            color: white
                            text-transform: uppercase
                            font-weight: lighter
                            letter-spacing: 5px
                    .banner4
                        display: flex
                        align-items: center
                        justify-content: center
                        background-image: url("../../public/images/pic04.jpg")
                        background-color: #72727288
                        background-blend-mode: multiply
                        background-size: cover
                        width: 100%
                        height: 200px
                        h3
                            color: white
                            text-transform: uppercase
                            font-weight: lighter
                            letter-spacing: 5px
    .sect3
        margin: 50px 150px
        padding: 0px 300px
        .row
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            .titre h2
                color: #383838
                text-transform: uppercase
                letter-spacing: 5px
            .text
                padding: 0px 50px
                p
                    color: #383838
                    font-size: 12px
                    line-height: 2
                    text-align: center
            .button
                padding-bottom: 40px
                button
                    padding: 10px 20px
                    margin-top: 30px
                    background-color: #E6ECF8
                    border: #383838 solid 2px
                    border-radius: 5px
                    a
                        text-transform: uppercase
                        text-decoration: none
                        color: #383838
                        font-weight: lighter
                        font-size: 12px
                        letter-spacing: 2px
footer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-bottom: 20px
    .line
        height: 2px
        width: 10%
        background-color: #383838
        margin-bottom: 90px
    .icons
        margin-bottom: 10px
        i
            font-size: 20px
            padding: 0 10px
            color: #383838
    .text
        p
            font-size: 10px
            color: #383838
            letter-spacing: 1px
            font-weight: lighter

    /** media queries gsm **/
@media only screen and (min-width: 0px) and (max-width: 576px)
    body
        header
            .banner
                height: 30vh
                width: 100%
                h1
                    font-size: 30px
                span
                    font-size: 9px
        .sect1
            margin: 0
            padding: 50px 10px
            .sect1-h2
                h2
                    font-size: 14px
                    text-align: center
            .sect1-text
                p
                    font-size: 10px
            .sect1-btn
                button
                    padding: 10px
                    a
                        font-size: 10px
                        letter-spacing: 0px
        .sect2
            margin: 10px
            .sect2-row1
                .sect2-col-6
                    .container
                        .banner1
                            h3
                                text-align: center
                                font-size: 12px
                        .text
                            padding: 10px
                            p
                                font-size: 10px
                        .button
                            button
                                padding: 5px 10px
                                a
                                    font-size: 10px
                                    letter-spacing: 0px
                        .banner2
                            h3
                                text-align: center
                                font-size: 12px
                        .text
                            padding: 10px
                            p
                                font-size: 10px
                        .button
                            button
                                padding: 5px 10px
                                a
                                    font-size: 10px
                                    letter-spacing: 0px
                        .banner3
                            h3
                                text-align: center
                                font-size: 12px
                        .text
                            padding: 10px
                            p
                                font-size: 10px
                        .button
                            button
                                padding: 5px 10px
                                a
                                    font-size: 10px
                                    letter-spacing: 0px
                        .banner4
                            h3
                                text-align: center
                                font-size: 12px
                        .text
                            padding: 10px
                            p
                                font-size: 10px
                        .button
                            button
                                padding: 5px 10px
                                a
                                    font-size: 10px
                                    letter-spacing: 0px



                            
                



